*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 80vh;

    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: 'Sora' sans-serif;
    background-color: #FFF3C7; 
}
.big_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 70vh;
    display: grid;
    place-items: center;
}
.container .wrapper{
    
    background-color: #f08080;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.container .envelope{
    position:relative;
    width: 400px;
    height:300px;
}
.container .envelope::before{
    content: "";
    position: absolute;
    z-index: 2;
    border-top:150px solid #f08080 ;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}
.container .envelope::after{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 150px solid transparent;
    border-left: 200px solid #fda996;
    border-right: 200px solid #f4978e;
    border-bottom: 150px solid #fda996;
    bottom: 0;
}
.container .letter{
    position: absolute;
    right: 25%;
    bottom: 0;
    width: 50%;
    height: 80%;
    background: #fff;
    transition: all 1s ease-in-out;
    padding: 20px 10px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.letter .greeting{
    font-family: Madimi One;
    font-size: 10px;
    text-align: left;

}
.container .desc{
    font-family:Madimi One ;
    font-size: 10px;
}
.container .heart{
    position: absolute;
    top: 32%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: #FF004D;
    z-index: 4;
    transform: translate(-50%,-20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
/* .container .heart:hover{
    background-color: #FF004D;
} */
.container .heart::before,
.container .heart::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #FF004D;
    border-radius: 50%;
}
.container .heart::before{
    top: -15px;
}
.container .heart::after{
    right: 15px;
}
.open .envelope::before{
    z-index: 0;
    transform: rotateX(180deg);
}
.open .envelope .letter{
    bottom: 130px;
    transform: scale(1.8,1.8);
    transition-delay : 1s;
}
.open .heart{
    transform: rotate(90deg);
    transition-delay:0.4s;
}
.note{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 40px 20px;
    border-radius: 10px;
}
.note__desc{
    font-family:Madimi One ;
    font-size: 20px;
}
.balloon{
    position: absolute;
    width: 100px;
    height: 110px;
    background-color:rgba(220, 20, 60, 0.7) ;
    border-radius: 50%;
    top: 0;
    left: 0;
    animation: bay 5s infinite;
}
.balloon::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 150px;
    background-color:#000;
    top :110px;
    left: 50px;
}
.balloon::after{
    position: absolute;
    content: '';
    border-left:10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid red;
    top: 109px;
    left: 41px;
}
.balloon:nth-child(2){
    left: 535px;
    background-color: rgba(0, 0, 255, 0.4);
    animation-duration: 5.3s;
}
.balloon:nth-child(2)::after{
    border-bottom: 12px solid blue;
}
.balloon:nth-child(3){
    left: 150px;
    background-color: rgba(255, 255, 0, 0.4);
    animation-duration: 4s;
}
.balloon:nth-child(3)::after{
    border-bottom: 12px solid yellow;
}
.balloon:nth-child(4){
    left: 200px;
    background-color: rgba(0, 128, 0, 0.4);
    animation-duration: 6s;
}
.balloon:nth-child(4)::after{
    border-bottom: 12px solid green;
}
.balloon:nth-child(5){
    left: 1500px;
    background-color: rgba(125, 0, 255, 0.4);
    animation-duration: 4.5s;
}
.balloon:nth-child(5)::after{
    border-bottom: 12px solid purple;
}
.balloon:nth-child(6){
    left: 350px;
    background-color: rgba(0, 140, 100, 0.4);
    animation-duration: 3.7s;
}
.balloon:nth-child(6)::after{
    border-bottom: 12px solid green;
}
.balloon:nth-child(7){
    left: 1750px;
    background-color: rgba(255, 140, 0, 1);
    animation-duration: 4.2s;
}
.balloon:nth-child(7)::after{
    border-bottom: 12px solid orange;
}
.balloon:nth-child(8){
    left: 1600px;
    background-color: rgba(0, 206, 209, 0.8);
    animation-duration: 3.5s;
}
.balloon:nth-child(8)::after{
    border-bottom: 12px solid aqua;
}
.balloon:nth-child(9){
    left: 1300px;
    background-color: rgba(255, 105, 180, 0.8);
    animation-duration: 6s;
}
.balloon:nth-child(9)::after{
    border-bottom: 12px solid pink;
}
.balloon:nth-child(10){
    left: 1435px;
    background-color: rgba(133, 133, 133, 0.4);
    animation-duration: 4.8s;
}
.balloon:nth-child(10)::after{
    border-bottom: 12px solid grey;
}
/* .balloon:nth-child(11){
    left: 630px;
    background-color: rgba(255, 245, 238, 1);
}
.balloon:nth-child(11)::after{
    border-bottom: 12px solid seashell;
} */
@keyframes bay{
    0%{
        top: 69%;
    }
    100%{
        top: 0%;
    }
}
.sticker{
    position: absolute;
    width: 131.5px;
    height: 131.5px;
    background-image: url(https://images.viblo.asia/54edb252-47ae-4c41-8bd8-6dda83f6cd7c.png);
    /* background: #000; */
    top:610px ;
    left:630px;
    animation: hehe 2.5s infinite steps(1);
}
@keyframes hehe{

    0% {
        background-position: -0px -0px;
    }
    6.25% {
        background-position: -131.5px -0px;
    }
    12.5% {
        background-position: -263px -0px;
    }
    18.75% {
        background-position: -394.5px -0px;
    }
    25% {
        background-position: -0px -131.5px;
    }
    31.25% {
        background-position: -131.5px -131.5px;
    }
    37.5% {
        background-position: -263px -131.5px;
    }
    43.75% {
        background-position: -394.5px -131.5px;
    }
    50% {
        background-position: -0px -263px;
    }
    56.25% {
        background-position: -131.5px -263px;
    }
    62.5% {
        background-position: -263px -263px;
    }
    68.75% {
        background-position: -394.5px -263px;
    }
    75% {
        background-position: -0px -394.5px;
    }
    81.25% {
        background-position: -131.5px -394.5px;
    }
    87.5% {
        background-position: -263px -394.5px;
    }
    93.75% {
        background-position: -394.5px -394.5px;
    }
}